{% extends 'temp/base.html' %} 

{% block content %} 

<div class=" d-flex">
    <div class="">
        <div>
           
           <table border=1>
            <tr><td class="fw-bold">Nom:</td><td>{{joueur.name}}</td></tr>

            <tr>
                <td class="fw-bold">Prenom:</td><td>{{joueur.surname}}</td>
            </tr>

            <tr>
                <td class="fw-bold">Equipes:</td><td>{{joueur.equipe}}</td>
                
            </tr> 

            <tr>
                <td><img src={{joueur.image}} alt=""></td>
            </tr>

            <tr>
                <td><a class='fw-bold' href={% url 'editJoueur' joueur.id %}>Edit</a></td>
            </tr>

           </table>
           
        </div>
    </div>
    
   
</div>

{% endblock content %}